@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    /* Primary Colors */
    --s-orange : hsl(35, 77%, 62%);
    --s-red : hsl(5, 85%, 63%);
    /* Neutral Colors */
    --white : hsl(36, 100%, 99%);
    --gray-blue : hsl(233, 8%, 79%);
    --d-gray-blue : hsl(236, 13%, 42%);
    --v-gray-blue : hsl(240, 100%, 5%);
    /* Fonts */
    --font : 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0;
}